* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-weight: 600;
    color: yellow;
}

#container {
    position: relative;
}

div > span {
    color: black ;
    background-color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#first-pair {
    position: relative;
    background-color: red;
    height: 100vh;
    width: 100vw;
}

#number-menu {
    position: absolute;
    top: 20px;
    right: 10px;
}

#second-pair {
    position: relative;
    background-color: green;
    height: 100vh;
    width: 100vw;
}

#third-pair {
    position: relative;
    background-color: yellow;
    height: 100vh;
    width: 100vw;
}

#third-pair > .modello-di-punta > h1 {
    color: green;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 70px;
}

div > p {
    color: black ;
    background-color: white;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 50px; 
    text-align: center;
    display: inline-block;
    margin: 0 15px;
}






