* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

section h1 {
    font-family: 'Rubik Mono One', sans-serif;    color: yellow;
    text-transform: uppercase;
    font-size: 67px;
    font-weight: 900;
}

#container {
    position: relative;
}

#first-pair {
    position: relative;
    background-color: red;
    height: 100vh;
    width: 100vw;
}

#number-menu {
    position: absolute;
    top: 20px;
    right: 10px;
    height: 70px;
    padding: 10px;
    position: fixed;
    z-index: 3;
}

#number-menu>a:hover {
    color: gray;
    background-color: black;
}

#second-pair {
    position: relative;
    background-color: green;
    height: 100vh;
    width: 100vw;
}

#third-pair {
    position: relative;
    background-color: yellow;
    height: 100vh;
    width: 100vw;
}

#third-pair h1 {
    color: green;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 70px;
}

div > a {
    color: black ;
    background-color: white;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 50px; 
    text-align: center;
    display: inline-block;
    margin: 0 15px;
    text-decoration:none;
}






